body {
    font-family: sans-serif;
    background-color: rgb(50,50,50);

    overflow-x: hidden;
}

.left, #left {
    text-align: left;
}

.center, #center {
    text-align: center;
}

.right, #right {
    text-align: right;
}

.footer-text {
    font-size: 15px;
}

footer {
    color: rgb(200, 200, 200);
}