body {
    font-family: sans-serif;
    background-color: rgb(50,50,50);

    overflow-x: hidden;
}

.left, #left {
    text-align: left;
}

.center, #center {
    text-align: center;
}

.right, #right {
    text-align: right;
}

.footer-text {
    font-size: 15px;
}

footer {
    color: rgb(200, 200, 200);
}

/* NAVIGATION BAR */
.navbar-link, .navbar-link-current {
    font-size: 17px;
    
    text-decoration: none;
}

.navbar-link {
    color: rgb(200, 200, 200);
}

.navbar-link-current {
    color: rgb(180, 180, 180);
}

.navbar-link:hover, .navbar-link-current:hover {
    color: rgb(150, 150, 150);
}

#navbar div {
    padding: 10px;

    background-color: rgb(100, 100, 100);
}

#navbar a {
    margin-right: 10px;
}
/* END OF NAVIGATION BAR */